[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
databases = {extras = ["postgresql"], version = "*"}
psycopg2-binary = "*"
httpx = "*"
python-dotenv = "*"

[dev-packages]
mypy = "*"
black = "*"
ipython = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.1"
